.slider-img {
   width: 100%;
}
.slick-prev {
   background-color: transparent;
   border: none;
   color: blue;
   font-size: 20px;
   /* Thêm các thuộc tính CSS khác tùy chỉnh cho mũi tên slide trước */
}

.slick-next {
   background-color: transparent;
   border: none;
   color: red;
   font-size: 20px;
   /* Thêm các thuộc tính CSS khác tùy chỉnh cho mũi tên slide tiếp theo */
}
